<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vk %>
    <%= form.number_field :vk, id: :user_vk %>
  </div>

  <div class="field">
    <%= form.label :telegram %>
    <%= form.number_field :telegram, id: :user_telegram %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :user_surname %>
  </div>

  <div class="field">
    <%= form.label :online %>
    <%= form.check_box :online, id: :user_online %>
  </div>

  <div class="field">
    <%= form.label :pending_fouls %>
    <%= form.number_field :pending_fouls, id: :user_pending_fouls %>
  </div>

  <div class="field">
    <%= form.label :newbie %>
    <%= form.check_box :newbie, id: :user_newbie %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
