<p id="notice"><%= notice %></p>

<p>
  <strong>Vk:</strong>
  <%= @user.vk %>
</p>

<p>
  <strong>Telegram:</strong>
  <%= @user.telegram %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Online:</strong>
  <%= @user.online %>
</p>

<p>
  <strong>Pending fouls:</strong>
  <%= @user.pending_fouls %>
</p>

<p>
  <strong>Newbie:</strong>
  <%= @user.newbie %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
